[submodule "Example1/app/src/main/java/d2d/testing/streaming"]
	path = Example1/app/src/main/java/d2d/testing/streaming
	url = https://github.com/verdx/libstreaming2.0.git
	branch = example1
[submodule "Example2-receiver/libstreaming"]
	path = Example2-receiver/libstreaming
	url = https://github.com/verdx/libstreaming2.0.git
[submodule "Example1/libstreaming2.0"]
	path = Example1/libstreaming2.0
	url = https://github.com/verdx/libstreaming2.0.git
